@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
      
}

@layer base {
  body {
    @apply bg-[#EFE7EB]  tracking-wide min-h-full overflow-x-hidden 
  }


    li {
        @apply px-2;
        @apply cursor-pointer;
        @apply ml-5 text-xs  text-gray-800 
    }

    .btn_Contact{
      @apply relative -top-1 -left-1 bg-gray-800 py-2.5 px-5  text-white
      transition-all before:absolute before:top-1 before:left-1 before:-z-[1] before:h-full
      before:w-full before:border-2 before:border-gray-700 before:transition-all before:content-['']
      hover:top-0 hover:left-0 before:hover:top-0 before:hover:left-0
    }

    .list_NavBar{
      @apply hover:border-b border-gray-800 
    }

    .font-custom {
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
    }
}
