@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: #d7e4da;
}

::-webkit-scrollbar-thumb{
  background-color: #2c2b2c;
  border-radius: 10px
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 77%, 75%, 0.8)   
    )!important;
}

@layer base {
  body {
    @apply bg-[#EFE7EB]  tracking-wide min-h-full overflow-x-hidden 
  }


    li {
        @apply px-2;
        @apply cursor-pointer;
        @apply ml-5 text-xs 
    }

    .btn_Contact{
      @apply relative -top-1 -left-1 bg-[#2c2c2b] py-2.5 px-5  text-[#e7e8ef]
      transition-all before:absolute before:top-1 before:left-1 before:-z-[1] before:h-full
      before:w-full before:border-2 before:border-[#2c2c2b] before:transition-all before:content-['']
      hover:top-0 hover:left-0 before:hover:top-0 before:hover:left-0
    }

    
    .font-custom {
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}


